*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-size: 20px;
    background: #080116;
    color: #fff;
}
.button:hover {
    background: transparent;
    color: #000;
}
.row{
    margin: 8px 0;
}
.row .input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}